///  style dla kontenera komponentu, obrazu, tekstu, przycisku i innych elementów

.advantage-box {
    box-sizing: border-box;
    display: flex;
    position: relative;
    width: 1136px;
    height: 470px;
    background: var(--black);
    border: 1px solid var(--licorice);
    border-radius: 32px;
    gap: 16px;
    justify-content: center;

    .first-page,
    .second-page,
    .third-page {
        position: relative;
        width: 352px;
        height: 422px;
        background: var(--shark);
        border-radius: 32px;
        margin-top: 24px;


        .first-page__image,
        .second-page__image,
        .third-page__image {
            position: relative;
            width: 140px;
            height: 140px;
            background: #EAA3A3;
            border-radius: 16px;
            margin: 24px;

        }

        .group-artist-description {

            .artist {
                position: relative;
                width: 199px;
                height: 48px;
                margin-left: 24px;
                margin-bottom: 16px;
            }

            .description {
                position: relative;
                width: 304px;
                height: 44px;
                margin-left: 24px;
                margin-bottom: 46px;
                opacity: 0.5;
            }
        }

        .button-frame {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 16px 24px;
            gap: 8px;
            position: relative;
            width: 165px;
            height: 48px;
            background: #65D46E;
            border-radius: 200px;
            margin-left: 24px;

            .play-button-arrowhead {
                width: 12px;
                height: 12px;
            }

            .start-listening {
                width: 97px;
                height: 16px;
            }
        }

    }
}