///tło, marginesy, wygląd przycisków, opisy i obrazy.

.first-panel__image,
.second-panel__image,
.third-panel__image {
    position: relative;
    width: 140px;
    height: 140px;
    background: #EAA3A3;
    border-radius: 16px;

}