/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
/// 


@use 'advantages-section';
@use 'advantage-box-component';

#home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.advantage {
  align-items: flex;
  display: flex;
  flex-direction: column;
  height: 810px;
  width: 1440px;
  background: var(--black);
  gap: 24px;

  $breakpoint-834px: 834px;
  $breakpoint-375px: 375px;

  ///  @media (max-width: #{$breakpoint-834px})   
  ///  @media (max-width: #{$breakpoint-375px}) 






}