/// Homepage Styles File
/// Here we import all the Styles files we need for our Homepage.
/// 


@use 'advantages-section';
@use 'advantage-box-component';

#home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;




}

.advantage {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 810px;
  width: 1440px;
  background: var(--black);
  gap: 24px;


  $breakpoint-834px: 834px;
  $breakpoint-375px: 375px;

  @media (max-width: #{$breakpoint-834px}) {
    width: 834px;
    height: 1039px;
    gap: 16px;
    padding: 24px;
  }

  @media (max-width: #{$breakpoint-375px}) {
    width: 375px;
    height: 1388px;
  }

  ///  @media (max-width: #{$breakpoint-834px})   
  ///  @media (max-width: #{$breakpoint-375px}) 






}